@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400,700,800");
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
}

.logo img {
    height: 50px;
}

.home-icon img {
    height: 40px;
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #F0EBE5;
}

.content {
    font-family: 'Inter-Bold', Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
}

.content h1 {
    font-size: 4em;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    font-family: 'Inter-Bold', Helvetica, sans-serif;
    font-weight: 800;
    font-size: x-large;
    background-color: #006400;
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 80%;
    max-width: 200px;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #004d00;
}